<div class="col">
  <div class="card shadow-sm home-card">
    <% if article.image_cover %>
      <%= image_tag url_for(article.image_cover) %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= article.name %></h5>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to 'View', article_path(article.id), class: "btn btn-sm btn-outline-secondary" %>
        </div>
        <small class="text-muted"><%= number_to_currency(article.price) %></small>
      </div>
    </div>
  </div>
</div>
