<section class="py-4 text-center container">
  <div class="row py-lg-3">
    <div class="col banner-home">
      <img src="https://lumen.com.mx/Content/Slides/20220714140141888.jpg" alt="banner">
    </div>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-auto justify-content-center g-3">
      <% @articles.each do |article| %>
        <%= render partial: 'home_card', locals: {article: article} %>
      <% end %>
      
    </div>
  </div>
</div>
